@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="chapter"]{
	page-break-after: always;
}

*[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:verse"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

*[epub|type~="z3998:verse"] br{
	display: none;
}

cite{
	display: block;
	text-align: right;
	margin: 1em 0;
}
